parameters:
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to method PHPUnit\\Framework\\Assert::assertIsArray\(\) with array will always evaluate to true#'

includes:
    - vendor/larastan/larastan/extension.neon